.follower {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  background-color: white;
}

/* .cursor-effect {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}

.cursor-effect:hover .cursor {
  transform: translate(-50%, -50%) scale(1.5);
} */
